@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

body{
  font-family: 'Exo', sans-serif;
  font-weight: lighter;
}

a:hover{
  color:white;
  text-decoration: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  
  nav li {
    margin-left: 1.5em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #D12941;
    position: absolute;
    top: -.65em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

.jumbotron {
  background-image: url("../img/pingpong.jpeg");
  /* background: no-repeat; */
  background-position: fixed;
  background-size: cover;
  height:80%;
  margin-bottom: 8%;
}

.textcolor{
  color: #CEE0D6;
}

.jumbobutton {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    color: #CEE0D6;
    font-size: 16pt;
    font-weight: lighter;
    background: #69adba;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-family: 'Lato', sans-serif;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 33.6em;
  height: 3.6em;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/*CONTACT FORM*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

select {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  width: 42em;
  height: 4.2em;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #aca49c;
  
  border: solid 1px #b3aca7;
  border-bottom: none;

  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

textarea {
  background: transparent;
  color: #726659;
  padding-top: 15px;
  padding-left: 15px;
  border: solid 1px #b3aca7;
  
}

.txtstuff {
  outline: none;
  resize: none; 
  overflow: hidden;
}

.common {
  width: 470px;
  min-height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  overflow: hidden;
}

.hiddendiv {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.bttnform {
  background: #333;
  margin-top: 2em;
  margin-left: 40%;
  color: white;
  padding: 0px 15px 0px 15px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.bttnform span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bttnform span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bttnform:hover span {
  padding-right: 25px;
}

.bttnform:hover span:after {
  opacity: 1;
  right: 0;
}

.textcondition p:first-of-type {
  padding-top: 2em;
}

/*Brackets*/

/* jQuery Bracket | Copyright (c) Teijo Laine 2011-2016 | Licenced under the MIT licence */
div.jQBracket {
  font-size: 14px;
  position: relative
}

div.jQBracket .tools {
  position: absolute;
  top: 0;
  color: #FFF
}

div.jQBracket .tools span {
  cursor: pointer;
  margin: 5px;
  display: block;
  text-align: center;
  width: 18px;
  height: 18px;
  background-color: #666
}

div.jQBracket .tools span:hover {
  background-color: #999
}

div.jQBracket .finals {
  float: right;
  right: 0;
  clear: right;
  position: relative
}

div.jQBracket .bracket {
  float: center;
  clear: left;
}

div.jQBracket .loserBracket {
  float: right;
  clear: left;
  position: relative
}

div.jQBracket .round {
  position: relative;
  float: left
}

div.jQBracket .match {
  position: relative
}

div.jQBracket .editable {
  cursor: pointer
}

div.jQBracket .team {
  position: relative;
  z-index: 1;
  float: left;
  background-color: #EEE;
  cursor: default
}
/* divides 2 teams */
div.jQBracket .team:first-child {
  border-bottom: 1px solid #999
}

div.jQBracket .team input {
  font-size: 14px;
  padding: 0;
  width: 100%;
  border: 0;
  margin: 0;
  outline: 0
}

/* text inside the brackets */
div.jQBracket .team div.label {
  padding: 3px;
  position: absolute;
  height: 22px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

div.jQBracket .team div.label[disabled] {
  cursor: default
}

div.jQBracket .team div.score {
  float: right;
  padding: 3px;
  background-color: rgba(255, 255, 255, .3);
  text-align: center;
  box-sizing: border-box
}

div.jQBracket .team div.score input {
  text-align: center
}

div.jQBracket .team div.score[disabled] {
  color: #999;
  cursor: default
}

div.jQBracket .team div.label input.error, div.jQBracket .team div.score input.error {
  background-color:
}

div.jQBracket .team.np {
  background-color: #666;
  color: #EEE
}

div.jQBracket .team.na {
  background-color: #999;
  color: #CCC
}

div.jQBracket .team.win {
  color: #333
}

div.jQBracket .team.win div.score {
  color: #060
}

div.jQBracket .team.lose div.score {
  color: #900
}

div.jQBracket .team.lose {
  background-color: #DDD;
  color: #999
}

div.jQBracket .team.tie div.score {
  color: #00F
}

div.jQBracket .team.highlightWinner {
  background-color: #C2DDC7;
  color: #000
}

div.jQBracket .team.highlightLoser {
  background-color: #CCC;
  color: #000
}

div.jQBracket .team.highlight {
  background-color: #DEEFFF;
  color: #000
}

div.jQBracket .team.bye {
  background-color: #999;
  color: #CCC
}

div.jQBracket .teamContainer {
  z-index: 1;
  position: relative;
  float: left
}

div.jQBracket .connector {
  border: 2px solid #666;
  border-left-style: none;
  position: absolute;
  z-index: 1
}

div.jQBracket .connector div.connector {
  border: 0;
  border-bottom: 2px solid #666;
  height: 0;
  position: absolute
}

div.jQBracket .connector.highlightWinner, div.jQBracket .connector div.connector.highlightWinner {
  border-color: green
}

div.jQBracket .connector.highlightLoser, div.jQBracket .connector div.connector.highlightLoser {
  border-color: #CCC
}

div.jQBracket .connector.highlight, div.jQBracket .connector div.connector.highlight {
  border-color: #DEEFFF
}

div.jQBracket .np .connector, div.jQBracket .np .connector div.connector {
  border-color: #999
}

div.jQBracket .bubble {
  height: 22px;
  line-height: 22px;
  width: 30px;
  right: -35px;
  position: absolute;
  text-align: center;
  font-size: 11px
}

div.jQBracket .bubble:after {
  content: '';
  position: absolute;
  top: 6px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent
}

div.jQBracket .bubble:after {
  left: -5px;
  border-left: 0
}

div.jQBracket .win .bubble {
  background-color: #C2DDC7;
  color: #960
}

div.jQBracket .win .bubble:after {
  border-right-color: #C2DDC7;
}

div.jQBracket .win .bubble.third {
  background-color: #963;
  color: #D95
}

div.jQBracket .win .bubble.third:after {
  border-right: 6px solid #963
}

div.jQBracket .lose .bubble {
  background-color: #CCC;
  color: #333
}

div.jQBracket .lose .bubble:after {
  border-right-color: #CCC
}

div.jQBracket .lose .bubble.fourth {
  background-color: #678;
  color: #CCD
}

div.jQBracket .lose .bubble.fourth:after {
  border-right: 6px solid #678
}

div.jQBracket.rl .finals {
  float: left;
  left: 0;
  clear: left
}

div.jQBracket.rl .bracket {
  float: left;
  clear: right
}

div.jQBracket.rl .loserBracket {
  float: left;
  clear: right
}

div.jQBracket.rl .round {
  margin-right: 0;
  float: right
}

div.jQBracket.rl .team {
  float: right
}

div.jQBracket.rl .team div.label {
  right: 0
}

div.jQBracket.rl .team div.score {
  float: left
}

div.jQBracket.rl .teamContainer {
  float: right
}

div.jQBracket.rl .connector {
  border-left-style: solid;
  border-right-style: none;
  border-width: 2px
}

div.jQBracket.rl .connector.highlightWinner, div.jQBracket.rl .connector div.connector.highlightWinner {
  border-color: #DA0
}

div.jQBracket.rl .connector.highlightLoser, div.jQBracket.rl .connector div.connector.highlightLoser {
  border-color: #CCC
}

div.jQBracket.rl .connector.highlight, div.jQBracket.rl .connector div.connector.highlight {
  border-color: #0C0
}

div.jQBracket.rl .bubble {
  left: -35px
}

div.jQBracket.rl .bubble.third {
  background-color: #963;
  color: #310
}

div.jQBracket.rl .bubble.fourth {
  background-color: #678;
  color: #CCD
}

div.jQBracket.rl .bubble:after {
  left: auto;
  right: -5px;
  border-left: 5px solid transparent;
  border-right: 0
}

div.jQBracket.rl .bubble.third:after {
  border-right: 0;
  border-left: 6px solid #963
}

div.jQBracket.rl .bubble.fourth:after {
  border-right: 0;
  border-left: 6px solid #678
}

div.jQBracket.rl .highlightWinner .bubble:after {
  border-left-color: #C2DDC7;
}

div.jQBracket.rl .highlightLoser .bubble:after {
  border-left-color: #CCC
}

.mbp{
  background-color: rgb(221,222,131,0.2);
  padding-left: 30%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 3%;
  margin-bottom: 1%;
}