@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

body{
  font-family: 'Exo', sans-serif;
  font-weight: lighter;
}

a:hover{
  color:white;
  text-decoration: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  
  nav li {
    margin-left: 1.5em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #D12941;
    position: absolute;
    top: -.65em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

.jumbotron {
  background-image: url("../img/pingpong.jpeg");
  /* background: no-repeat; */
  background-position: fixed;
  background-size: cover;
  height: 80%;
  margin-bottom: 8%;
}

.textcolor{
  color: #CEE0D6;
}

.jumbobutton {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    color: #CEE0D6;
    font-size: 16pt;
    font-weight: lighter;
    background: #69adba;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-family: 'Lato', sans-serif;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

.card-heading {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: #cee0d6;
  background-color: #262933;
  text-align: center;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 33.6em;
  height: 3.6em;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/*CONTACT FORM*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

select {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  width: 42em;
  height: 4.2em;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #aca49c;

  border: solid 1px #b3aca7;
  border-bottom: none;

  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

textarea {
  background: transparent;
  color: #726659;
  padding-top: 15px;
  padding-left: 15px;
  border: solid 1px #b3aca7;

}

.txtstuff {
  outline: none;
  resize: none;
  overflow: hidden;
}

.common {
  width: 470px;
  min-height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  overflow: hidden;
}

.hiddendiv {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.bttnform {
  background: #333;
  margin-top: 2em;
  margin-left: 40%;
  color: white;
  padding: 0px 15px 0px 15px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.bttnform span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bttnform span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bttnform:hover span {
  padding-right: 25px;
}

.bttnform:hover span:after {
  opacity: 1;
  right: 0;
}

.textcondition p:first-of-type {
  padding-top: 2em;
}

/* Rounds */

.tourtit{
  margin-top: 2%;
  margin-bottom: 2%;
  color:#CEE0D6;
}

.pushbtn{
  margin-left:38%;
}

.ma{
  margin-left:10%;
}

.mar{
  margin-left:11%;
}

.marg{
  margin-left: 30%;
  position: absolute;
}

.margi{
  padding-left: 33%;
}

.marglucky{
  margin-top: 1.9em;
  margin-left: 20.5%;
  position: absolute;
}

.lucky{
  color:#D12941;
  margin-top: 2.5em;
  margin-left: 30%;
}

/*Round Robin*/

.robintitle h1 {
  text-align: center;
  padding-right: 1em;
}

.robintitle h6 {
  text-align: center;
  padding-right: 2em;
}

.roundrobin p:first-child {
  text-align: center;
} 

.roundnames {
  float: left;
}

.roundnames select {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  width: 20.5em;
  height: 4.2em;
  padding: 0px 15px 0px 15px;
  margin-bottom: 5em;

  text-align-last: center;
  text-align: center;
  
  background: transparent;
  outline: none;
  color: #aca49c;
  
  border: solid 1px #b3aca7;

  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* Contact Us */
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

